<div class="sidebar-container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <img class="profile-image" src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <ul>
                <li>
                      <a [routerLink]="['dashboard']" routerLinkActive="router-link-active" class="menu-link">
                        <i class="bi bi-house-door" style="font-size: 1rem;"></i>
                        <span class="menu-item">Dashboard</span>
                      </a>
                </li>
                <li>
                  <a [routerLink]="['contact']" routerLinkActive="router-link-active" class="menu-link">
                     <i class="bi bi-shop-window" style="font-size: 1rem;"></i>
                      <span>Shop</span>
                      </a>
                </li>
                <li>
                    <a [routerLink]="['contact1']" routerLinkActive="router-link-active" class="menu-link">
                       <i class="bi bi-person" style="font-size: 1rem;"></i>
                        <span>About Us</span>
                        </a>
                  </li>
            </ul>
        </div>
    </div>
 </div>